<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/css/styles.css" type="text/css">

<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <link href="http://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js"></script>
</head>

<body>
<h1>Dashboard</h1>

<script>
    function copyLink()
    {

        var dummy = document.createElement('input'),
        text = window.location.href;
        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand('copy');
        document.body.removeChild(dummy);
        alert('Link copied!');
    }
</script>

<div">
    <div id="visual_container">
        <p>Patient ID: {{ patient_id | safe}}</p>

        <button onclick="javascript:copyLink()">Copy my link!</button>

        <div>
            {{ div | safe }}
            {{ script | safe }}
        </div>

        <div>
            {{ div2 | safe }}
            {{ script2 | safe }}
        </div>

        <p>Go <a href="/">Home</a></p>
        <p>Go <a href="/patients">Patients List</a></p>
    </div>

    <div id="visual_container">

        <label for="diagnosis">Please select a diagnosis:</label>
        <select name="diagnosis" id="diagnosis" form="diagnosisform">
          <option value="No DR">No DR</option>
          <option value="Mild DR">Mild DR</option>
          <option value="Moderate DR">Moderate DR</option>
          <option value="Severe DR">Severe DR</option>
          <option value="Proliferate DR">Proliferate DR</option>
        </select>

        <form action="/action_page.php" id="diagnosisform">
            <label for="comments">Please enter comments:</label>
            <input type="text" id="comments" name="comments">
            <input type="submit">
          </form>
    </div>
</div>

</body>
</html>