<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/css/styles.css" type="text/css">

<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <link href="http://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js"></script>
</head>

<body>
<h1>Dashboard</h1>

<script>
    function copyLink()
    {

        var dummy = document.createElement('input'),
        text = window.location.href;
        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand('copy');
        document.body.removeChild(dummy);
        alert('Link copied!');
    }
</script>

<p>Patient ID:
{{ patient_id | safe}}</p>

<button onclick="javascript:copyLink()">Copy my link!</button>


 <div style="width: 20%">

        {{ div | safe }}
        {{ script | safe }}

    </div>

    <div style="width: 20%">

        {{ div2 | safe }}
        {{ script2 | safe }}

    </div>

    <p>Go <a href="/">Home</a></p>

</body>
</html>