<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/css/styles.css" type="text/css">

<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <link href="http://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js"></script>
</head>

<body>

    <script>
        function process_diagnosis(id) {
            var formData = new FormData(document.getElementById('diagnosisform'));
            var request = new XMLHttpRequest();

            request.open("POST", "/api/v1/add_diagnosis?" + "id=" + id);
            request.send(formData);
        }
    </script>


    <div class="topnav">
        <a href="/">Home</a>
        <a href="/patient_landing">Register</a>
        <a href="/doctor_signup">Diagnose</a>
        <a href="#about">About</a>
    </div>

    <div id="dashboard">
        <h1>Patient Dashboard</h1>

        <div id="graphs_container">
            <h2>Patient ID: {{ patient_id | safe}}</h2>

            <div>
                {{ div | safe }} {{ script | safe }}
            </div>

            <div>
                {{ div2 | safe }} {{ script2 | safe }}
            </div>
        </div>
    </div>

    <div id="visual_container">
        <h3>Overall Sentiment</h3>
        {% for diagnosis in sentiment.keys() %}
        <p><b>{{ diagnosis }} </b>: {{ (sentiment[diagnosis] / number) * 100 }} %</p>
        {% endfor %}


        <h3>Past Diagnoses:</h3>
        <nav>
            <ul>
                {% for d in diagnosis %}
                <li><b>Diagnosis:</b> {{ d.doctor_diagnosis}}</li>
                <li><b>Comments:</b> {{ d.doctor_comments}}</li>
                {% endfor %}
            </ul>
        </nav>

        <h3>Please Enter Your Diagnosis:</h3>
        <label for="diagnosis"><p>Please select a diagnosis:</p></label>
        <select name="diagnosis" id="diagnosis" form="diagnosisform">
            <option value="No DR">No DR</option>
            <option value="Mild DR">Mild DR</option>
            <option value="Moderate DR">Moderate DR</option>
            <option value="Severe DR">Severe DR</option>
            <option value="Proliferate DR">Proliferate DR</option>
        </select>

        <form id="diagnosisform" action="javascript:process_diagnosis(String({{ patient_id | safe}}))">
            <label for="comments"><p>Please enter comments:</p></label>
            <input type="text" id="comments" name="comments">
            <input type="submit">
        </form>
    </div>

</body>

</html>