<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/css/styles.css" type="text/css">

<head>
    <title>Aspect</title>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.js"></script>

    <div class="topnav">
        <a href="/">Home</a>
        <a href="/patient_landing">Register</a>
        <a href="/doctor_signup">Diagnose</a>
        <a href="#about">About</a>
    </div>

    <div id="container">
        <h1>Please sign in</h1>

        <div>
            <a href="/patients">
                <input type="image" src="/static/assets/doximity_button.png" />
            </a>
        </div>
    </div>

</body>

</html>