<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">

</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/patient_landing">Register</a>
        <a href="/doctor_signup">Diagnose</a>
        <a href="#about">About</a>
    </div>

    <div class="centered">

        <div class=header>
            <h1>Patient Database</h1>
        </div>

        {% for patient in patients %}
        <div class="patient_item">
            <p>Patient ID: {{ patient.id }}</p>
            <a href="/dashboard/{{ patient.id }}">Go to Patient ></a>
        </div>
        {% endfor %}
    </div>

</body>

</html>